
    <section id="about" class="py-5">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="display-4 mb-4">Qui sommes-nous?</h2>
                    <p class="lead">Bienvenue sur notre page "About". Nous sommes une équipe passionnée de lecteurs, dévouée à partager notre amour pour les livres et les aventures qu'ils offrent.</p>
                    <img src="/images/1.jpg" alt="Image 1" class="img-fluid mb-4">
                    <p class="lead">Notre mission est de vous fournir une sélection diversifiée de livres captivants, du classique intemporel aux dernières nouveautés. Nous croyons en la puissance des mots pour inspirer, divertir et enrichir nos vies.</p>
                    <img src="/images/2.jpg" alt="Image 2" class="img-fluid mb-4">
                    <p class="lead">Explorez notre collection, plongez-vous dans des mondes imaginaires et laissez les livres être votre guide. Nous sommes ravis de partager cette aventure littéraire avec vous.</p>
                  
                </div>
            </div>
        </div>
    </section>
