@{
    Layout = "_AdminPanel"; // Spécifie un layout différent pour le backoffice
}
@model library.Models.Abonne

@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div>
    <h4>Abonne</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="vintage-button">Edit</a> |
    <a asp-action="Index" class="vintage-button">Back to List</a>
</div>
<style>
    /* Add your vintage button style here */
    .vintage-button {
        background-color: #e0c9a6;
        color: #4c4c4c;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #4c4c4c;
        border-radius: 4px;
        display: inline-block;
        transition: background-color 0.3s;
    }

        .vintage-button:hover {
            background-color: #4c4c4c;
            color: #e0c9a6;
        }
</style>
